<ion-view view-title="Aula02">
  <ion-content class="padding">
    <h2>Aula02</h2>
    <div>
      x={{ X }}<br />
      y={{ Y }}<br />
      z= {{ Z }}<br />
      magnetic= {{ magneticHeading }}<br />
      trueHeading= {{ trueHeading }} <br />
      accuracy= {{ accuracy }} <br />
      timeStamp= {{ timeStamp }} <br />
      Internet= {{ isOnline }} <br />

    </div>
  </ion-content>
</ion-view>
