<ion-view view-title="Aula03">
  <ion-content class="padding">
    <h2>Aula03</h2>
    <div>
      <a ng-click="tirafoto()">Foto</a><br />
      <a ng-click="tirafoto()">Video</a><br />
      <a ng-click="tirafoto()">Audio</a><br />
      <img id="myImage" />

    </div>
  </ion-content>
</ion-view>
