<ion-view view-title="restaurantes">
  <ion-content class="padding">
    <h2>{{titulo}}</h2>
    <div class="list card" ng-repeat="itens in restaurantes">

      <div class="item item-avatar">
        <img src="{{itens.image_url}}">
        <h2>{{itens.name}}</h2>
        <p>{{itens.address}}</p>
        <div ng-click="favoritar(itens)">Favoritar</div>
      </div>



    </div>
  </ion-content>
</ion-view>
