<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
    {{device}} </p>
    <p>
      {{cordova}}</p>
    <p>
      {{model}}</p>
    <p>
      {{platform}} </p>
    <p>
      {{uuid}} </p>
    <p>
      {{version}} </p>

    Status: {{batteryLevel}} %
    Plugged In: {{isPluggedIn}}
    <progress value="{{batteryLevel}}" max="100"></progress>
    <div class="progress-bar progress-bar-warning styleDiv"
         role="progressbar" aria-valuenow="{{batteryLevel}}" aria-valuemin="0"
         aria-valuemax="100" ng-style="percentageStyle">
      <span class="sr-only"> {{batteryLevel}}% </span>
    </div>
  </ion-content>
</ion-view>
