<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Aula01" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/aula01">
    <ion-nav-view name="tab-dash1"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Aula02" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/aula02">
    <ion-nav-view name="tab-dash2"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Aula03" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/aula03">
    <ion-nav-view name="tab-dash3"></ion-nav-view>
  </ion-tab>
  <!-- Account Tab -->
  <ion-tab title="Restaurantes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/restaurantes">
    <ion-nav-view name="tab-dash4"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Favoritos" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/favoritos">
    <ion-nav-view name="tab-dash5"></ion-nav-view>
  </ion-tab>


</ion-tabs>
